body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
#main-container{
  position: relative;

}
#main-pic{
  z-index: 1;
}
#branding {
  position: absolute;
  z-index: 100;
  left: 0%;
  top: 2%;
}
/* Global */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.flex-container{
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
button{
  cursor: pointer;
}

#content-box {
  margin: 0px;
  width: 312px;
  height: 240px;
  resize: none;
}
ul{
  margin: 0;
  padding: 0;
}
.button-bar {
  color: #242582;
  text-transform: uppercase;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
}
.button-bar-current{
  color:#ff5e6c;
  text-transform: uppercase;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;

}

.button_1{
  background: #ff5e6c;
  border: 0;
  height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 25px;
  background: #35424a;
  border: 0;
  color: #ffffff;
  margin-bottom: 30px;
  width: 320px;
  height: 380px;
}

/* Header */
/*rgb(86, 121, 236)*/
header{
  background: #ffffff;
  color: #ffffff;
  padding: 15px;
  border-bottom: #ff5e6c 3px solid;
  position: fixed;
  width: 100%;
}


header ul{
  margin: 0;
  padding: 0;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}



header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
  font-size: 35px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header.highlight, header.current button-bar{
  color: darkcyan ;
  font-weight: bold;
  border: none;
}

header .button-bar:hover{
  color: #ff5e6c ;
  font-weight: bold;
  font-size: larger;
}


/*Showcase*/
#showcase{

  /*background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Food_in_Israel.jpg/1024px-Food_in_Israel.jpg) no-repeat 0 -200px;*/
  background-image: url(https://i.ibb.co/xFNnDq2/ktzizot.png);
  background-color: rgba(255, 255, 255, 0.486);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  background-size: cover;
  text-align: center;

  color: #9e1a1a;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

#showcase{
  font-size: 20px;
}

/*Newsletter*/
#newsletter{
  padding: 10px;
  color: #ffffff;
  background: #242582 /*rgb(86, 121, 236);*/
}

#newsletter h1{
  float: left;
  margin-right: 30px;
}

#newsletter form{
  float: right;
  margin-top: 15px;

}
 /*nev bar*/


input.subscribe-btn{
  padding: 4px;
  height: 50px;
  width: 180px;
  font-size: larger;
  background-color: #ffe0b3;
  color: #242582;
}


#newsletter input[type="email"] {
  padding: 4px;
  height: 15px;
  width: 238px;
}
#newsletter input[type="text"]{
  padding: 4px;
  height: 15px;
  width: 238px;
}




/*Boxes*/
#boxes{

  margin-top: 20px;
}

#boxes .box{
  float: left;
  padding: 15px;
  text-align: center;

}

/*Sidebar*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 5px;
}

/*Wh*/
article#wh{
  float: left;
  width: 65%;
}

/*Footer*/
footer{
  padding: 10px;
  margin-top: 20px;
  color: #ffffff;
  background-color: rgb(86, 121, 236);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*Modal*/
.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  max-width: 800px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: lightblue;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}


@media screen and (max-width: 950px){

  #newsletter form{
    float: none;
    display: grid;
  }

  #newsletter form
  .sidenav li{
    text-align: center;
    float: none;
    width: 100%;
    height: auto;
    position: relative;
  }
  #branding{
    top: 38.5%;
    left: -8%;

  }

  header li{
    float: none;
    display: grid;
    padding: 0 20px 0 20px;
    margin: 25px
  }
  header ul{
    display: grid;

  }
  header .container{
    float: top;
  }


  .nav-menu.active{
    background: #282c34;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  header{
    position: static;
  }

  header nav{
    float: none;
  }
}

.contactUsForm{
  float: left;
}

.contactUsForm-input{
  float: right;
  width: 215px;
}

@media screen and (max-width: 950px) {

  .header button.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 950px) {

  input.subscribe-btn{
    width: 250px;
  }
  .dark{
    width: 400px;
    padding: 25px;
    display: inline-block;

  }
  .contactUsForm-input{
    width: 275px;
  }

  .input-form{
    padding-left: 22px;
    padding-right: 22px;
  }
  #content-box{
    width: 350px;
    height: 250px;
  }

  .flex-container{
    display: grid;
    flex-direction: row;
  }
  .header.responsive {position: relative;}
  .header.responsive button.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive button {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Image Carousel*/
.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

img-carousel {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: blanchedalmond;
  color: #ff5e6c;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}