body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
#main-container{
  position: relative;

}
#nev-bar{
  z-index: 1;
}
#main-pic{
  z-index: 1;
}
#branding {
  position: absolute;
  z-index: 100;
  left: 0%;
  top: 2%;
}
/*
.popup-content {
  margin: auto;
  background: deeppink;
  width: 100%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

 */
/* Global */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  align-content: center;


  justify-content: center;


}
button{
  cursor: pointer;
}

#content-box {
  margin: 0px;
  width: 274px;
  height: 164px;
}
ul{
  margin: 0;
  padding: 0;
}
.button-bar {
  color: #242582;
  text-transform: uppercase;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
}
.button-bar-current{
  color:#ff5e6c;
  text-transform: uppercase;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;

}

.button_1{
  height: 36px;
  background: #ff5e6c;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background: #35424a;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}

/* Header */
/*rgb(86, 121, 236)*/
header{
  background: #ffffff;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #ff5e6c 3px solid;
}

header a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header ul{
  margin: 0;
  padding: 0;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
  font-size: 35px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header.highlight, header.current button-bar{
  color: darkcyan ;
  font-weight: bold;
  border: none;
}

header .button-bar:hover{
  color: #ff5e6c ;
  font-weight: bold;
  font-size: larger;
}


/*Showcase*/
#showcase{
  min-height: 400px;
  /*background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Food_in_Israel.jpg/1024px-Food_in_Israel.jpg) no-repeat 0 -200px;*/
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Food_in_Israel.jpg/1024px-Food_in_Israel.jpg);
  background-color: rgba(255, 255, 255, 0.486);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -200px;
  background-size: cover;
  text-align: center;
  color: #9e1a1a;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

#showcase{
  font-size: 20px;
}

/*Newsletter*/
#newsletter{
  padding: 10px;
  color: #ffffff;
  background: #242582 /*rgb(86, 121, 236);*/
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}
 /*nev bar*/


#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}
#newsletter input[type="text"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*Boxes*/
#boxes{
  margin-top: 20px;
}

#boxes .box{

  float: left;
  width: 30%;
  padding: 15px;
  text-align: center;
}

/*Sidebar*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 5px;
}

/*Wh*/
article#wh{
  float: left;
  width: 65%;
}

/*Footer*/
footer{
  padding: 10px;
  margin-top: 20px;
  color: #ffffff;
  background-color: rgb(86, 121, 236);
  text-align: center;
}

/*Modal*/
.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  max-width: 800px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: lightblue;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}
@media screen and (max-width: 950px) {
  #branding{
    top: 10%;
    left: -16%;

  }

}





